@using System.Web.Optimization
@{
    ViewBag.Title = "Compensations";
}
@section styles
{
    @Styles.Render("~/Content/css/table")
    @Styles.Render("~/Content/css/side")
}
@section scripts
{
    @Scripts.Render("~/bundles/compensation-table")
    @Scripts.Render("~/bundles/compensation-table-data")
}

<div>
    @Html.Partial("Table/_Filters")
    @Html.Partial("Table/_Table")
    @Html.Partial("SidePanel/_SidePanel")
</div>