@model CP.Authorization.Contract.Models.LoginView
@{
    Layout = "~/Views/Shared/_Start.cshtml";
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Account", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary(true, "", new { @class = "error-message" })
    </div>
    
    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "error-message" })
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "example@dp.com" } })

    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "error-message" })
    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Input password" } })
    <button type="submit">Login</button>
    <p class="message">Not registered? @Html.ActionLink("Create an account", "Register")</p>
}