@model CP.Authorization.Contract.Models.RegisterView
@{
    Layout = "~/Views/Shared/_Start.cshtml";
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", null, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "", new { @class = "error-message" })
    </div>

    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "error-message" })
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "example@dp.com" } })

    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "error-message" })
    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { placeholder = "Input password" } })

    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "error-message" })
    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm password" } })
    <button type="submit">Register</button>
    <p class="message">Already registered? @Html.ActionLink("Sign In", "Login")</p>
}
