@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("/Content/css")
    @RenderSection("styles", false)
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @RenderSection("scripts", false)
</head>
<body>
    @Html.Partial("_Nav")

    @RenderBody()

    <!-- ko with: alert -->
    <div class="tn-box tn-box-hoverpause">
        <p data-bind="text: alert.message"></p>
    </div>
    <!-- /ko -->
</body>
</html>